@tailwind base;

// Add our custom base styles
@import "base/base";

@tailwind components;

// Add custom components
@import "components/components";

// Add tailwindcss utilities
@tailwind utilities;

// Add custom utilities
@import "utilities/utilities";

// Vendors
@import "vendors/vendors";