a {
	@apply text-black;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-bold mb-6;
}

h1 {
	@apply text-4xl;
	@screen lg {
		@apply text-5xl;
	}
}

h2 {
	@apply text-3xl;
	@screen lg {
		@apply text-4xl;
	}
}

h3 {
	@apply text-2xl;
	@screen lg {
		@apply text-3xl;
	}
}

h6,
h5,
h4 {
	@apply text-xl;
	@screen lg {
		@apply text-2xl;
	}
}


ul {
	list-style-type: disc;
	padding-left: theme('padding.4');
}

ol {
	list-style-type: decimal;
	padding-left: theme('padding.4');
}

.list-none {
	padding-left: 0;
}